{
	"DB" : {
		"DB_HOST"						: "DATABASE IP",
		"DB_USER"						: "DATABASE LOGIN NAME",
		"DB_PORT"						: "DATABASE CONNECTION PORT",
		"DB_PASS"						: "DATABASE PASSWORD",
		"DB_QUICK"						: "ANNOTATION LOOKUP DATABASE NAME",
		"DB_NAME"						: "MAIN DATABASE NAME"
	}
}